*{
  box-sizing: border-box;
  color: #ffeead;
  
}
html{
  background-color: rgb(254, 238, 174);
  margin: 10px;
}
.box{
  border: 6px solid #FFCC5C;
  display: flex;
  margin-bottom: 10px;
}
.box--2, .box--5,.box--3, .box--1,.box--4{
  font-size: 30px;
  text-align: center;
  padding:20px;
  height: 100px;
  flex: 1;
}

.box--2, .box--5, .box2, .box3, .box4, .box5{
  background-color: rgb(254, 111, 104);
}
.box--1, .box1, .box--3{
  background-color: rgb(150, 206, 181);
}
.box--4, .box2, .box4{
  background-color: #569eb0;
}

.box-2{
  display: flex;
  border: 6px solid #FFCC5C;
  flex-direction: column;
}
.box1, .box2, .box3, .box4, .box5{
  font-size: 30px;
  text-align: center;
  padding:20px;
  height: 100px;
  flex: auto;
}
